.popup {
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
}

li:focus,
li:hover {
  background-color: #bde4ff;
  outline: 4px solid purple;
  outline-offset: 2px;
  cursor: pointer;
}

// Removes default list styling but keeps list semantics on Safari
ul {
  list-style-type: '';
}

li + li {
  margin-top: 10px;
}
